<%= javascript_include_tag 'handle_file' %>
<div class="container my-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <% content_for :title, "Edit post" %>
      <h1>Edit post</h1>
      <%= form_with model: @post, html: { multipart: true } do |form| %>
        <div>
          <%= form.label :title %><br>
          <%= form.text_field :title, class: "form-control" %>
        </div>
        <%= field_errors(@post, :title) %>
        <div>
          <%= form.label :content %><br>
          <%= form.cktext_area :content, class: "form-control" %>
        </div>
        <%= field_errors(@post, :content) %>
        <br>
        <div >
            <%= form.label :status, "Status" %>
            <%= form.collection_radio_buttons :status, Post.statuses.keys, :to_s, :humanize, class: "form-check-input" do |b| %>
              <div class="form-check">
                <%= b.radio_button(class: "form-check-input") %>
                <%= b.label(class: "form-check-label") %>
              </div>
            <% end %>
        </div>
        <br>
        <div class="field">
          <%= form.label :image %>
          <%= form.file_field :image, id: "imageInput" %>
        </div>

        <div class="field">
          <img id="imagePreview" src="#" alt="Image Preview" style="max-width: 300px; display: none;" />
        </div>
        <p id="imageEdit"><%= image_tag url_for(@post.image) if @post.image.attached? %></p>
      <div class="actions">
          <%= form.submit "Submit", class: "btn btn-primary" %>
        </div>
      <% end %>
      <br>

      <div>
        <%= link_to "Back to posts", post_path(@post) %>
      </div>
    </div>
  </div>
</div>
